<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Semi_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

	<!-- 게시판 관련 서블릿 매핑 -->
	<servlet>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>com.board.controller.BoardController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	 <!-- 회원 관련 서블릿 매핑 -->
	<servlet>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>com.member.controller.MemberController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>*.go</url-pattern>
	</servlet-mapping> 
  
</web-app>