@charset "UTF-8";


@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body	{
	background-color: #f7f9fa;
	min-width: 1100px;
	

}



.mainSlidebox	{
	margin-right: 120px;
	margin-left: 120px;
	padding-right: 40px;
	padding-left:40px;
	
}

.flexMain	{
	
	display: flex;
	justify-content: space-between;
    margin: 20px 0px;
    padding-left: 30px;
    padding-right: 30px; 
    flex-direction: column;

    
}

.flexTop	{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-left: 60px;
    padding-right: 60px;
     font-family: 'GmarketSansMedium';
    
}



.top_left	{
	display: block;
}

.top_left_aTag	{

    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    outline: none;
    color: #ff6226;
    text-decoration: none;
    

}

.top_left_aTag:hover	{

    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    outline: none;
    color: #000000;
    text-decoration: none;
}



.top_left_aTag-s	{

  
    margin: 10px 10px;
    padding: 20px 0 0 0;
    font-size: 18px;
    font-family: 'GmarketSansMedium';
    text-decoration: none;
}


.top_search	{

    margin: 7px 0 0 26px;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: #8e98a2;
    outline: none;
    font-size: 16px;
    font-family: 'GmarketSansMedium';
    line-height: 24px;
    height: 40px;
}

.searchLine		{
	border:1px solid lightgray;
	border-radius:0.4em;
	width: 500px;
	height: 50px;
}

.searchLine:hover	{
	border:2px solid #ff6226;
	border-radius:0.4em;
	width: 500px;
	height: 50px;
}

.main1	{
	width: 800px;
	margin-bottom: 50px;
	max-width: 600px;
	
}

.main2	{
	width: 400px;
	margin-bottom: 50px;
	margin-left: 40px;
	max-width: 333px;

	
}

.main1-section	{
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 180px 0 180px;
    height: 
}

.radius_img	{
	
 	width: 60px;
    height: 60px; 
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ff9637;
    margin: 0 20px 0 0;
	
}





.profile_img	{
	
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
  	
	
}

.profileInfo	{
	
	font-size: 18px;
	font-weight: bold;
	margin: 0 10px 0 40px;
	
}

.profileFlex	{
	
	display: flex;
	align-items: center;
}

.hideBtn	{
	
	border: none;
	border-color: none;
	background-color: transparent;
	margin-right: 10px;
}

.card-body	{
	 font-family: 'GmarketSansMedium';
}


/* end */