@charset "UTF-8";

body	{
	
}

.flexMain	{
	
	display: flex;
	justify-content: space-between;
    margin: 20px 0px;
    padding-left: 30px;
    padding-right: 30px; 
    flex-direction: column;
    
}

.flexTop	{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-left: 60px;
    padding-right: 60px;
}



.top_left	{
	display: block;
}

.top_left_aTag	{

    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    outline: none;
    color: #ff6226;
    text-decoration: none;
}

.top_left_aTag-s	{

    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    outline: none;
    color: #ff6226;
    text-decoration: none;
}


.top_search	{
	box-sizing: border-box;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    vertical-align: middle;
    outline: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: #8e98a2;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
}

.searchLine		{
	border-color: lightgray;
	border-style: solid;
	bo
}

.main1	{
	padding:40px 100px;
}




}/* end */